html {
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 118.75%;
    font-family: 'Rubik', sans-serif;
    font-family: 'Montserrat', sans-serif;
    border: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
}

h3{
  font-size: 1.618rem;
}

h4{
  font-size: 1.402rem;
}

h3,h4{
  font-weight: 400;
  color: #000;
  margin-bottom: 0;
}

img{
  width: 100%;
  opacity: 1;
}

/*container*/

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column;
    flex-flow: column;

    max-width: 1140px;
    color: #000;
    font-size: 1rem;
    margin: 10% auto;
}

.container::selection{
  background-color: #FFF000;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

/*left-nav*/

.left-nav{
  flex-basis: 100%;
  padding: .8rem;
  font-family: 'Montserrat', sans-serif;
  font-size: .8125rem;
  margin-bottom: 10%;
}

.left-nav a{
  text-decoration: none;
  opacity: 0.63;
}

.left-nav a:hover{
  text-decoration: none;
  opacity: inherit;
}

.left-nav .active{
  text-decoration: none;
  position: relative;
  opacity: 1;
  font-weight: 500;
}

.left-nav .active::after{
  content: '';
  background-color: #00BD9C;
  opacity: 0.3;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: .75rem;
  position: absolute;
  left: .5rem;
  top: -.125rem;
}

.left-nav p:not(:first-child){
  margin: .5rem 0;
}

.left-nav p.title{
  margin: 3rem 0 1rem 0;
  opacity: .26;
  font-weight: 700;
}

/*content*/

.content{
  flex-basis: 100%;
  max-width: 36.25rem;
  padding: .8rem;
  line-height: 1.5rem;
  opacity: 0.81;
  font-family: 'Rubik', sans-serif;
}

.content .title{
  opacity: 0.34;
  font-weight: 500;
}

td{
  text-align: left;
  vertical-align: top;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

td:nth-of-type(2n+1){
  width: 22.050845%;
}

td:nth-of-type(2n){
  padding-left: 2rem;
}

.content p:first-child{
  margin-top: .5625rem;
}

.content a{
  padding-bottom: .05rem;
  border-bottom: .05rem solid;
  opacity: inherit;
}

.content a:hover{
  text-decoration: none;
  padding-bottom: .05rem;
  border-bottom: .05rem solid black;
  opacity: 1;
}

/*content-blogs*/

.content p.blog-date-hastag{
  opacity: 0.34;
  border-top: 0.5px solid #CFCFCF;
  padding-top: 1rem;
  padding-bottom: 6rem;
}

@media screen and (min-width: 30rem) {
  html{
    font-size: 100%;
  }

  .container{
    flex-flow: row;
  }

  .content{
    flex-basis: 66.10169%;
    margin-left: 1.69492%;
  }

  .left-nav{
    flex-basis: 32.20339%;
  }
}
