@import url(https://fonts.googleapis.com/css?family=Lato|Proza+Libre);

html {
    background-color: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

, :before, *:after {
  box-sizing: inherit;
}

/*container*/

.container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 10%;
    margin-bottom: 10%;
}

.container::after{
  content: '';
  display: block;
  clear: both;
}

a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

/*left-nav*/

.left-nav{
  font-family: 'Proza Libre', sans-serif;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

@media (min-width: 700px) {
    .left-nav{
      float: left;
      width: 32.20339%;
    }
}

.left-nav a{
  text-decoration: none;
  opacity: 0.63;
}

.left-nav a:hover{
  text-decoration: none;
  opacity: inherit;
}

.left-nav .active{
  text-decoration: none;
  position: relative;
  opacity: 1;
  font-weight: bold;
}

.left-nav .active::after{
  content: '';
  background-color: #00BD9C;
  opacity: 0.3;
  display: block;;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  position: absolute;
  left: 8px;
  top: -2px;
}

.left-nav p:not(:first-child){
  margin: 8px 0;
}

.left-nav #title{
  margin: 48px 0px 16px 0px;
  opacity: 0.33;
  font-weight: 700;
}

/*content*/

.content{
  max-width: 580px;
  line-height: 24px;
  opacity: 0.81;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 700px) {
  .content{
    float: left;
    width: 66.10169%;
    margin-left: 1.69492%;
  }
}

#title{
  opacity: 0.33;
  font-weight: 700;
}

td{
  text-align: left;
  vertical-align: top;
  padding-top: 16px;
  padding-bottom: 16px;
}

td:first-child{
  width: 22.050845%;
}

.content a{
  text-decoration: none;
  background: linear-gradient(#313131, #313131) no-repeat;
  background-size: 100% 1px;
  background-position: 0 1.05em;
  text-shadow: .05em 0 white, -.05em 0 white;
}

.content p:first-child{
  margin-top: 9px;
}
